<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ignacio Villanueva &ndash; Front-end Developer focusing front-end architecture, front-end performance and responsive web design.</title>
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Chrome for Android Toolbar Color-->
    <meta name="theme-color" content="#0047BB">

    <!-- Other -->
    <meta name="description" content="Articles on CSS, Sass, architecture, front-end performance, and mobile and responsive web design based in Barcelona.">

</head>
<!--
.___                            .__           .___      _______
|   | ____   ____ _____    ____ |__| ____   __| _/____  \      \  __ __   _______  ______
|   |/ ___\ /    \\__  \ _/ ___\|  |/  _ \ / __ |/ __ \ /   |   \|  |  \_/ __ \  \/ /  _ \
|   / /_/  >   |  \/ __ \\  \___|  (  <_> ) /_/ \  ___//    |    \  |  /\  ___/\   (  <_> )
|___\___  /|___|  (____  /\___  >__|\____/\____ |\___  >____|__  /____/  \___  >\_/ \____/
   /_____/      \/     \/     \/               \/    \/        \/            \/

   - Twitter: @IgnaciodeNuevo - GitHub: IgnaciodeNuevo - Email: {{ site.email }} -

-->
