// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.nav {
    background-color: $color-primary;
    color: #fff;
    padding: 1rem;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}


